header.page-header(role="banner")
    .layoutwrap
        a.site-logo(href="./")= locals.projectinfo.title
        nav.site-nav(role="navigation")
            ul
                -each val, index  in locals.sitenavlinks
                    li: a(href=val.url class='navitem-#{val.id} icon-#{val.icon}')
                        span.text= val.title
